h3{
    font-size: 2.5em;
    font-family: sans-serif;
    color: #ffffff;
    margin-left: 15%;
    margin-top: 10%

}
body{
    background-image: url(astronauta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    
    
    
}
form{
    font-family: sans-serif;
    font-size: large;
    color: white;
    margin-left: 18%;

}
.inputUser {
    background: none;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    
    
}

.date{
    background: none;
    border: 1px solid black;
    color: white;
}

.botao{
    background: none;
    color: white;
    margin-left: 27%;
    margin-bottom: 1em;
    margin-top: -30em;
    padding: 0.5em 1.5em;
}
.texto{
    background: rgba(2, 27, 95, 0.5);
    font-family: sans-serif;
    margin-left: 8%;
    
}

